.fluid-container {
  position: relative;

  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    height: 100px;
    width: 100px;
    background-color: #ee4;
    transition: all 500ms;
    perspective: (800px);
  }
}
